@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --background-image-gradient-radial: radial-gradient(var(--tw-gradient-stops));
  --background-image-gradient-conic: conic-gradient(
    from 180deg at 50% 50%,
    var(--tw-gradient-stops)
  );

  --color-link: #0000ee;
  --color-link-visited: #551a8b;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer base {
  body {
    @apply text-gray-900 bg-gray-50;
    @apply dark:text-gray-100 dark:bg-gray-800;
    /* Fix scrollbar content jump: https://stackoverflow.com/a/42987298. */
    width: 100vw;
    overflow-x: hidden;
    main {
      @apply mx-auto flex-col max-w-3xl mt-7 px-3;
      p a,
      ul a {
        @apply text-link visited:text-link-visited underline;
        @apply dark:text-blue-300 dark:visited:text-purple-400;
      }
      ul {
        @apply pb-3;
      }
      ol {
        @apply pb-3;
        li {
          @apply ml-6;
        }
      }
      li {
        @apply ml-5;
      }
      p {
        @apply pb-3;
      }
      h1 {
        @apply text-2xl font-semibold mb-2;
      }
      h2 {
        @apply text-xl font-semibold mt-4 mb-1;
      }
      h3 {
        @apply text-lg font-semibold;
      }
      input {
        @apply text-gray-900;
      }
    }
  }
}